html
  body
    h1.time #{time}

    h1 Holla
      p moment.js
      p weather forecast.io
      p calendar googlemaps
      p news nytimes
      p traffic google maps
      p tasks wunderlist?
      p quote of the day

      h4 #{weather.currently.summary}
      h4 #{weather.currently.temperature}
      p #{weather.daily.data[0].temperatureMin}
      p #{weather.daily.data[0].temperatureMax}


    //- h4 #{quote.quote}

//- http://api.nytimes.com/svc/topstories/v1/home.json?api-key=6b33eb7b78a214401d2766c100aeae6a:5:74631439
//- <skycon icon="weather.icon" class="icon-layout"></skycon>
